body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#contestants {
    list-style: decimal;
}

  #contestants li {
      width: 200px;
      border: 1px solid grey;
      padding: .25em;
      margin: .5em;
  }

  #contestants.sortable li {
      cursor: move;
  }

  #contestants li:hover {
      background-color: lightgrey;
  }